<?xml version="1.0" encoding="{$lang->items['LANG_GLOBAL_ENCODING']}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{$lang->items['LANG_GLOBAL_DIRECTION']}" lang="{$lang->items['LANG_GLOBAL_LANGCODE']}" xml:lang="{$lang->items['LANG_GLOBAL_LANGCODE']}">

<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset={$lang->items['LANG_GLOBAL_ENCODING']}" />
	<link rel="stylesheet" href="css/main.css" />
</head>

<body>
	<form method="post" action="em2016_admin.php">
		<input type="hidden" name="send" value="send">
		<input type="hidden" name="punkteid" value="$_REQUEST[punkteid]">
		<input type="hidden" name="action" value="$action">
		<input type="hidden" name="sid" value="$session[hash]">
		<table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
			<tr class="tblhead">
				<td colspan=2>{$lang->items['LANG_ACP_EM2016_CORRECT8_5']}</td>
			</tr>
			<tr class="firstrow">
				<td>
					{$lang->items['LANG_ACP_EM2016_CORRECT8_6']}
				</td>
			</tr>
		</table>
		<br/> $em2016_correct8_erfolgsmeldung
		<br/>
		<form action="./em2016.php" method="post" accept-charset="utf-8">
			<table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
				<tr class="tblhead">
					<td colspan=2>{$lang->items['LANG_ACP_EM2016_CORRECT8_7']}</td>
				</tr>
				<tr class="firstrow">
					<td>
						$em2016_correct8_bit
					</td>
				</tr>
			</table>
		</form>
	</form>
</body>

</html>
