<table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
	<tr class="tblhead">
		<td colspan=2>{$lang->items['LANG_ACP_EM2016_CORRECT8_4']} $spielid</td>
	</tr>
	<tr class="firstrow">
		<td style="width:50%">
			$spiel_team_1
		</td>
		<td style="width:50%">
			$spiel_team_2
		</td>
	</tr>
	<tr class="secondrow">
		<td style="width:50%">
			$spiel_team_1_name
		</td>
		<td style="width:50%">
			$spiel_team_2_name
			<br /> $em2016_correct8_bit_select
		</td>
	</tr>
</table>
