<?xml version="1.0" encoding="{$lang->items['LANG_GLOBAL_ENCODING']}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{$lang->items['LANG_GLOBAL_DIRECTION']}" lang="{$lang->items['LANG_GLOBAL_LANGCODE']}" xml:lang="{$lang->items['LANG_GLOBAL_LANGCODE']}">

<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset={$lang->items['LANG_GLOBAL_ENCODING']}" />
	<link rel="stylesheet" href="css/main.css" />
</head>

<body>
	<form method="post" action="wm2018_admin.php">
		<input type="hidden" name="send" value="send">
		<input type="hidden" name="punkteid" value="$_REQUEST[punkteid]">
		<input type="hidden" name="action" value="$action">
		<input type="hidden" name="sid" value="$session[hash]">
		<table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
			<tr class="tblhead">
				<td colspan=2>{$lang->items['LANG_ACP_WM2018_TPL_PUNKTE_EDIT_1']}</td>
			</tr>
			<tr class="firstrow">
				<td>
					<b>{$lang->items['LANG_ACP_WM2018_TPL_PUNKTE_EDIT_2']}</b>
				</td>
				<td>
					<input type="text" name="desc" value="$punkte[desc]" maxlength="100" disabled>
				</td>
			</tr>
			<tr class="secondrow">
				<td>
					<b>{$lang->items['LANG_ACP_WM2018_TPL_PUNKTE_EDIT_3']}</b>
				</td>
				<td>
					<input type="text" name="wert" value="$punkte[wert]" maxlength="100">
				</td>
			</tr>
			<tr class="firstrow">
				<td colspan=2 align="center">
					<input type="submit" value="{$lang->items['LANG_ACP_GLOBAL_SUBMITFORM']}">
				</td>
			</tr>
		</table>
	</form>
</body>

</html>
